<!DOCTYPE html>
<html>
<head>
    <title>Cloud File Manager</title>
</head>
<body>

    <h2>Upload File</h2>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
  </form> 
  <h2>Uploaded Files</h2>

  <ul>
    {% for file in files %}
        <li>{{ file.name }}-{{ file.size }} bytes - {{ file['upload-date'] }} - Owner: {{ file.owner }}
     <form action="/delete" method="POST">
     <input type="hidden" name="filename" value= "{{ file.name }}">
     <button type="submit">Delete</button>
     <a href="/download?filename={{ file.name }}">Download</a>
</form>

</li>
    {% endfor %}

</ul>     
</body>
</html>
